<div class="login-page">
  <div class="form">
    <form class="register-form" (submit)="onSubmit()">
      <dx-form [formData]="formData" [disabled]="loading">
    
        <dxi-item>
          <div>
            <h1>Welcome Back!</h1>
          </div>
        </dxi-item>
        <dxi-item dataField="email" editorType="dxTextBox"
          [editorOptions]="{ stylingMode: 'filled', placeholder: 'Email', mode: 'email' }">
          <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
          <dxi-validation-rule type="email" message="Email is invalid check the format"></dxi-validation-rule>
          <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
    
        
        <dxi-item dataField="password" editorType="dxTextBox"
          [editorOptions]="{ stylingMode: 'filled', placeholder: 'Password', buttons: [{
            name : 'showPasswordButton',
            location: 'after',
            options: passwordButton
          }] , mode : passwordMode}"> 
          <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
          <dxi-validation-rule type="pattern" [pattern]="passwordPattern" message="Password should be in range of 8-16 characters and should contain atleast 1 uppercase, 1 special character and 1 number"></dxi-validation-rule>
          <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
        <dxi-item itemType="button">
          <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'loginTemplate'">
          </dxo-button-options>
        </dxi-item>
    
        <dxi-item>
          <div class="login-link">
            Not Registered? <a routerLink="/users/signup">Sign Up</a>
          </div>
        </dxi-item>
    
        <ng-container *dxTemplate="let item of 'loginTemplate'">
          <span class="dx-button-text">
            <ng-container *ngIf="loading; else notLoading">
              <dx-load-indicator width="24px" height="24px" [visible]="true"></dx-load-indicator>
            </ng-container>
    
            <ng-template #notLoading>Login</ng-template>
          </span>
        </ng-container>
    
      </dx-form>
    </form>
  </div>
</div>