.borders {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

.center{
  display: block;
  margin: 0 auto;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: block;
  padding: 6px 12px;
  text-align: center;
  margin: 20px;
  cursor: pointer;
}